* {
	font-family:'Roboto', sans-serif;
  }
  
	html{
	  overflow-y:scroll;
	}

	header{
	position:relative;
	z-index:1000;
	}
	
	#preloader{
	display:flex;
	justify-content:center;
	align-items:center;
	position:fixed;
	inset:0 0 0 0;
	background-color:#3B3F75;
	z-index:999;
	}
	
	#preloader img{
	width:20%;
	margin-top:350px;		
	}
	.out{
	display:none!important;
	}
	
	.button{
        background-color:#1c87c9;
        border: none;
        color: #FFFFFF;
		background:transparent;
		text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #00FF7F, 0 0 30px #00FF7F, 0 0 40px #00FF7F, 0 0 55px #00FF7F, 0 0 75px #00FF7F, 39px 38px 11px rgba(153,95,206,0);
        padding: 20px 34px;
        text-align: center;
		align-items:center;
        text-decoration: none;
        display: inline-block;
        font-size: 34px;
        margin-left: 42%;
		margin-top:20PX;
        cursor: pointer;
		border:solid 6px color:#FFFFFF;
		font-weight:bold;		
      }
	  
	  a {	  
	text-decoration: none;
	  }
	  
	#slider-top {
	position:absolute;
	top:0;
	left:20px;
	bottom:460px;
	right:500px;
	z-index:1;
	}
	
	.slider-brief {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display:flex;
	justify-content:center;
	align-items:center;	
	}
	

	#slider-pic1 {
	position:relative;
	color: #FFFFFF;
	background:transparent;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #CD5C5C, 0 0 30px #CD5C5C, 0 0 40px #CD5C5C, 0 0 55px #CD5C5C, 0 0 75px #49ff18, 39px 38px 11px rgba(153,95,206,0);
	text-align:left;
	margin-top:25px;
	text-decoration:none;	
	}
	
	#slider-pic1::first-letter {
	color:#FFFFFF;
	font-family:'Cinzel Decorative', cursive;
	font-weight:bold;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #CD5C5C, 0 0 30px #CD5C5C, 0 0 40px #CD5C5C, 0 0 55px #CD5C5C, 0 0 75px #49ff18, 39px 38px 11px rgba(153,95,206,0);
	font-size:154px;
	}
	

	
	#slider-pic2 {
	position:relative;
	width:90%;
	color: #FFFFFF;
	background:transparent;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 39px 38px 11px rgba(153,95,206,0);
	text-align:center;
	margin-top:225px; 
	text-decoration:none;		
	}
	
	#slider-pic2::first-letter {
	color:#FFFFFF;
	font-family:'Cinzel Decorative', cursive;
	font-weight:bold;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 39px 38px 11px rgba(153,95,206,0);
	font-size:154px;	
	}
	
	#slider-pic3 {
	position:relative;
	width:100%;
	color: #FF4500;
	background:transparent;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 39px 38px 11px rgba(153,95,206,0);
	text-align:center;
	margin-top:244px; 
	text-decoration:none;		
	}
	
	#slider-pic3::first-letter {
	color:#FF4500;
	font-family:'Cinzel Decorative', cursive;
	font-weight:bold;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 39px 38px 11px rgba(153,95,206,0);
	font-size:154px;
	}
	

	.slider{
	width:100%;
	height:540px;
	
	}
	
	#slider-pic1, #slider-pic2, #slider-pic3 {
	font-size:94px;
	font-family:'Pacifico', cursive;
	font-style:italic;		
	}
	

	h2 {
	font-size:68px;
	font-family:'Pacifico',cursive;
	font-style:italic;
	font-weight:bold;
	margin-top:5px;
	margin-bottom:0px;
	color: #FFFFFF;;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #FF6347, 0 0 40px #FF6347, 0 0 55px #49FF18, 0 0 75px #49ff18, 39px 38px 11px rgba(153,95,206,0);
	}
	
	h2::first-letter {
	font-family:'Pacifico', cursive;
	font-size:94px;
	color: #FF4500;
	font-weight:bold;
	text-shadow: 0 0 10px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #FFD700, 0 0 40px #FFD700, 0 0 55px #FFD700, 0 0 75px #FFD700, 39px 38px 11px rgba(153,95,206,0)
	}
	

	h3 {
	font-size:30px;
	text-align:center;
	background:#008080;
	font-weight:bold;
	color: #FFFFFF;	
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #00FF7F, 0 0 30px #000000, 0 0 40px #00FF7F, 0 0 55px #00FF7F, 0 0 75px #00FF7F, 39px 38px 11px rgba(153,95,206,0);
	}
	
	h3::first-letter {
	color:#FF4500;
	font-family: 'Pacifico', cursive;
	font-size:34px;
	text-shadow: 0 0 10px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF4500, 0 0 30px #000000, 0 0 40px #FF4500, 0 0 55px #FF4500, 0 0 75px #FF4500, 39px 38px 11px rgba(153,95,206,0)
	}
	
	.h3 model{
	text-align:center;
	margin-left:0%;	
	}
	
	#motto {
	font-weight:bold;
	text-transform:uppercase;
	text-align:left;
	font-size:32px;
	font-family:'Pacifico',cursive;
	font-style:italic;
	margin-top:0px;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #FF6347, 0 0 40px #FF6347, 0 0 55px #49FF18, 0 0 75px #49ff18, 39px 38px 11px rgba(153,95,206,0);
	color:#FF4500;
	background:transparent;
	font-family:'Roboto', sans-serif;
	font-weight:bold;
	}
	
	body {
	background-color:#008080;
	}
	
	#movies {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-evenly;			
	}
	
	.movies {
		display:block;
		width:20%;
		background-color:#F8F6E3;
		margin:1%;
		padding:1%;
		border:solid 6px #00FF7F;
		
	}
	.movies img  {
		width: 90%;
		margin:1%;
		padding:1%;
		
	}
	
	#cover{
	    height:400px;
		
	}
	
	.stars img  {
		width: 5%;
		margin-left:10px;
		padding:1%;
		text-align:center;
	}
	
	.delete img  {
		width: 12%;
		margin-left:50px;
		padding:1%;
		text-align:center;
	}
	
	p { 
	font-weight:bold;
	font-size:22px;
	text-align:center;
	}
	
	.movies p {
	margin:0,2%;	
	}
	

	.infolink {
	color:#FB8573;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
	text-align:center;
	
	}
	
	.infolink img{
	width:10%;
	text-align:center;
	margin-left:40%;
	}
	
	
	@media(max-width:850px){
	 #motto,.movies, h2, h3{
		width:80%;
		font-size:24px;	
		text-align:center;
	}		
	}
	@media(max-width:850px){
	h2, h3{
		
		padding:5%;
		text-align: center;
	}
	}
	
	@media(max-width:850px){
	.button{
        text-align: center;
        display: inline-block;
        font-size: 18px;
        margin-left:30%;
		margin-top:20px;
        cursor: pointer;
		border:solid 6px #FB8573;	
      }
	}
	
	@media screen and (max-width:220px),(max-device-width:980px){
		.button{
		text-align: center;
        display: inline-block;
        font-size: 18px;
        margin-left:42%;
		margin-top:20px;
        cursor: pointer;
		border:solid 6px #FB8573;	
	}
	}
	
	@media screen and (max-width:220px),(max-device-width:980px){
			
	.movies,h2, h3{
		width:35%;
		font-size:22px;
		text-align:center;
	}	
	}
	
	@media screen and (max-width:220px),(max-device-width:980px){
		
	#motto{
	display:none;
	}
	}
	
@media(max-width:1207px){
	#slider-pic1, #slider-pic2, #slider-pic3{
		width:100%;
		font-size:34px;
		margin-left:none;
	}		
	}
	
	@media(max-width:1207px){
	#slider-pic1::first-letter {
	font-family:'Cinzel Decorative',cursive;
	font-weight:bold;
	font-size:34px;
	color: #FFFFFF;
	text-align:center;
	margin-left:none;
	background:transparent;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #CD5C5C, 0 0 30px #CD5C5C, 0 0 40px #CD5C5C, 0 0 55px #CD5C5C, 0 0 75px #49ff18, 39px 38px 11px rgba(153,95,206,0);
	}
	}

@media(max-width:1207px){
	#slider-pic2::first-letter {
	font-family:'Cinzel Decorative',cursive;
	font-weight:bold;
	font-size:34px;
	color: #FFFFFF;
	text-align:center;
	margin-left:none;
	background:transparent;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 39px 38px 11px rgba(153,95,206,0);
	}
	}
	
	
	@media(max-width:1207px){
	#slider-pic3::first-letter {
	font-family:'Cinzel Decorative',cursive;
	font-weight:bold;
	font-size:34px;
	color: #FF4500;
	text-align:center;
	margin-left:none;
	background:transparent;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 39px 38px 11px rgba(153,95,206,0);
	}
	}
	
@media screen and (max-width:220px),(max-device-width:980px){
			
	#slider-pic1, #slider-pic2, #slider-pic3 {
		width:60%;
		font-size:24px;
		text-align:left;
		
	}	
}
	
	
	
	
	
	
	
	
	
