* {
	font-family:'Roboto', sans-serif;
  }
  
	html{
	  overflow-y:scroll;
	}


	header{
	position:relative;
	z-index:1000;
	}
	
	#preloader{
	display:flex;
	justify-content:center;
	align-items:center;
	position:fixed;
	inset:0 0 0 0;
	background-color:#3B3F75;
	z-index:999;
	}
	
	#preloader img{
	width:20%;
	margin-top:350px;		
	}
	.out{
	display:none!important;
	}
	
	.button{
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }
	  
	  a {
		  
		  text-decoration: none;
	  }
	
	.slider-brief {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display:flex;
	justify-content:center;
	align-items:center;		
	}
	

	#slider-pic1 {
	position:relative;
	color:#FB8573;
	text-shadow:4px 4px 4px white;
	margin-top:225px; 
	margin-right:220px; 
	text-decoration:none;
		
	}
	
	#slider-pic1::first-letter {
	color:white;
	font-family:'Cinzel Decorative', cursive;
	font-weight:bold;
	text-shadow: 4px 4px #FB8573;
	font-size:154px;
	
	}
	

	
	#slider-pic2 {
	position:relative;
	width:90%;
	color:#FB8573;
	text-shadow: 4px 4px 4px white;
	text-align:center;
	margin-top:225px; 
	text-decoration:none;
			
	}
	
	#slider-pic2::first-letter {
	color:white;
	font-family:'Cinzel Decorative', cursive;
	font-weight:bold;
	text-shadow: 4px 4px #FB8573;
	font-size:154px;
		
	}
	
	#slider-pic3 {
	position:relative;
	width:100%;
	color:#FB8573;
	text-shadow:4px 4px 4px white;
	text-align:right;
	margin-top:15px; 
	text-decoration:none;
			
	}
	
	#slider-pic3::first-letter {
	color:white;
	font-family:'Cinzel Decorative', cursive;
	font-weight:bold;
	text-shadow: 4px 4px #FB8573;
	font-size:154px;
	
	}
	

	.slider{
	width:100%;
	height:550px;
	
	border-radius:4px;	
	}
	
	#slider-pic1, #slider-pic2, #slider-pic3 {
	font-size:124px;
	text-align:center;
	font-family:'Pacifico', cursive;
	font-style:italic;		
	}
	

	h2 {
	font-size:66px;
	text-align:center;
	font-family:'Pacifico', cursive;
	font-style:italic;
	color:#FB8573;
	}
	
	h2::first-letter {
	color:white;
	font-family:'Pacifico', cursive;
	font-size:74px;
	}
	

	h3 {
	font-size:24px;
	text-align:center;
	background-color: black;
	color:White;
	}
	
	h3::first-letter {
	color:#FB8573;
	font-family: 'Pacifico', cursive;
	font-size:28px;
	}
	
	.h3 model{
	text-align:center;
	margin-left:0%;	
	}
	
	#motto {
	font-weight:bold;
	text-align:center;
	font-size:28px;
	color:white;
	font-family:'Pacifico', cursive;
	font-style:italic;	
	}
	
	body {
	background-color:#3B3F75;
	}
	
	#movies {
		display:flex;
		flex-wrap:wrap;
		justify-content:flex-start;			
	}
	
	.movies {
		display:block;
		width:20%;
		background-color:#F8F6E3;
		margin:1%;
		padding:1%;
		border:solid 4px #FB8573;
		
	}
	.movies img  {
		width: 90%;
		margin:1%;
		padding:1%;
		
	}
	
	.stars img  {
		width: 5%;
		margin-left:10px;
		padding:1%;
		text-align:center;
	}
	
	p { 
	font-weight:bold;
	font-size:22px;
	text-align:center;
	}
	
	.movies p {
	margin:0,2%;	
	}
	

	.infolink {
	color:#FB8573;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
	text-align:center;
	
	}
	
	.infolink img{
	width:10%;
	text-align:center;
	margin-left:40%;
	}
	
	


	
	@media(max-width:850px){
	 .movies, h2, h3{
		width:90%;
		font-size:34px;
		padding:1%;
		margin:1%;
		text-align:center;
	}		
	}
	
	@media screen and (max-width:220px),(max-device-width:980px){
			
	.movies,h2, h3{
		width:65%;
		font-size:34px;
		text-align:center;
	}	
	}
	
@media(max-width:1050px){
	#slider-pic1, #slider-pic2, #slider-pic3{
		width:100%;
		font-size:44px;
		padding:1%;
		margin:1%;
		text-align:center;
	}		
	}
	
	@media(max-width:1050px){
	#slider-pic1::first-letter {
	color:red;
	font-family:'Cinzel Decorative', cursive;
	font-weight:bold;
	text-shadow: 4px 4px black;
	font-size:48px;
	}
	}

@media(max-width:1050px){
	#slider-pic2::first-letter {
	color:red;
	font-family:'Cinzel Decorative', cursive;
	font-weight:bold;
	text-shadow: 4px 4px black;
	font-size:48px;
	}
	}
	
	
	@media(max-width:1050px){
	#slider-pic3::first-letter {
	color:red;
	font-family:'Cinzel Decorative', cursive;
	font-weight:bold;
	text-shadow: 4px 4px black;
	font-size:48px;
	}
	}
	
@media screen and (max-width:220px),(max-device-width:980px){
			
	#slider-pic1, #slider-pic2, #slider-pic3 {
		width:60%;
		font-size:44px;
		text-align:top;
		
	}	
}
	
	
	
	
	
	
	
	
	
